body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.container {
  margin:0px;
  padding:0px;
  width:100%;
}

.firstcol {
  margin-top: 7%;
  margin-left: 7%;
  width:40%;
}

.secondcol {
  margin-top: 18%;
  margin-left: 7%;
  width:40%;
  padding-left: 0%;
}
